@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;700;800&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  transition: all 300ms;
  font-family: 'Outfit', sans-serif;
}

.menu li {
  list-style: none;
}

.joy:hover {
  animation: rubberBand 1s;
}

#selam {
  position: absolute;
  top: 10vh;
  flex-direction: column;
  right: 20px;
  display: none;
}

#selam li a {
  display: block;
}

#sa {
  box-shadow: inset -500px 0px rgba(24, 24, 255, 0.7889749649859944);
  border: 2px solid dodgerblue;
}

#sa:hover {
  background: rgb(24, 24, 255);
  background: linear-gradient(65deg, rgba(24, 24, 255, 0.7889749649859944) 26%, rgba(7, 255, 0, 0.8646052170868348) 100%);
  box-shadow: inset 0px 0px transparent;
}

/* iletişim */

/* This is an example, feel free to delete this code */
.tooltip-container {
  --background: #04A784;
  --support-size: 50px;
  --tooltip-radius: 10px 10px 10px 0;
  --outline-border-color: #006851;
  position: relative;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 17px;
  font-weight: bold;
  padding: 0.7em 1.8em;
  color: var(--background);
  border: solid 2px var(--background);
}

.tooltip-container::before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.5s linear;
  outline: 3px solid transparent;
  background: var(--background);
}

.tooltip-container:hover {
  color: white;
}

.tooltip-container:hover:before {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  outline-offset: 5px;
  outline-color: var(--outline-border-color);
}

.tooltip {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 60%;
  transform: translateX(-5%);
  padding: 0.3em 0.6em;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  background: var(--background);
  border-radius: var(--tooltip-radius);
  color: white;
  box-shadow: 3px 3px 0px var(--outline-border-color);
}

.tooltip::after {
  content: "Hello!👋";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background);
  text-align: center;
  border-radius: var(--tooltip-radius);
}

.tooltip::before {
  position: absolute;
  content: "";
  bottom: 0;
  border-style: solid;
  border-width: 5px;
  left: 0;
  transform: translateX(-50%);
  border-color: transparent var(--background) var(--background) transparent;
  box-shadow: 0px 3px 0px var(--outline-border-color);
}

.tooltip-container:hover .tooltip::after {
  animation: hidden 0.5s 1.5s linear forwards;
}

.tooltip-container:hover .tooltip {
  top: calc(-100% - var(--support-size) * 0.5);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  animation: shake 0.5s 1s linear;
  transition: all 0.3s 0.5s;
}

@keyframes hidden {
  50% {
    transform: translate(-50%, -50%) scale(0.5);
    background-color: #1ca0f5;
  }

  100% {
    transform: translate(0, -50%) scale(0.5);
    opacity: 0;
  }
}

@keyframes shake {

  0%,
  40%,
  80% {
    transform: translateX(-10%);
  }

  20%,
  60%,
  100% {
    transform: translateX(0);
  }
}

.st2 {
  fill: #f9c8a7;
}

.st3 {
  fill: #ff9e97;
}

.st6 {
  fill: #d72e48;
}

.st7 {
  fill: #ffffff;
}

.st8 {
  fill: #ff8d7f;
}

.st10 {
  fill: #3d3d3b;
}

.st11 {
  fill: #1ca0f5;
}

.st12 {
  opacity: 0.2;
}

.st14 {
  fill: #b7b7b7;
}

.st15 {
  fill: #ead9cf;
}

#Calque_1 {
  display: inline-block;
  height: var(--support-size);
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
  z-index: -1;
  left: 0;
  top: 0;
}

#left_x5F_arm_2_ {
  transform: translateX(2px);
}

.tooltip-container:hover #Calque_1 {
  top: calc(var(--support-size) * -1);
  opacity: 1;
}

#lets {
  font-family: 'Outfit', sans-serif;
  letter-spacing: 4px;
  font-weight: 100;
  box-shadow: rgba(0, 0, 0, 0.122) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  backdrop-filter: blur(30px);
  transition: all 300ms;
}

#lets:hover {
  transform: scale(1.2);
  letter-spacing: 5px;
}

#lets span {
  background: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#ana-baslik {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#box {
  min-height: 55vh;
  width: 350px;
  position: relative;
  flex-direction: column;
}

#box:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 255, 208, 0.25) 0px 25px 50px -12px;
}

#box img {
  backdrop-filter: blur(30px);
}

#list,
#bist {
  font-family: 'Outfit', sans-serif;
}

#list li span,
#bist li span {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

#list li span {
  background-color: red;
  animation: eles 1.2s infinite;
}

#bist li span {
  background-color: rgb(51, 193, 0);
  animation: eles 1s infinite;
}

@keyframes eles {
  50% {
    opacity: 0;
  }
}

#basla {
  backdrop-filter: blur(10000px);
  background-color: #0068511b;
}

#basla:hovera i {
  transform: translate(10px, 0px);
}

#sds {
  filter: blur(50px);
}
#sal{
  backdrop-filter: blur(15px);
  z-index: 999;
}
